<launch>
    <arg name="serial_id" default="/dev/ttyUSB0"/>

    <!-- Rosserial Node (Communicates with microcontroller) -->
    <node pkg="rosserial_python" type="serial_node.py" name="easy_drive_mc" clear_params="true" output="screen" respawn="true">
      <param name="port" value="$(arg serial_id)" />
      <param name="baud" value="115200" />
      <remap from="cmd_vel" to="cmd_vel" />
    </node>
</launch>