<launch>
    <arg name="joy_id" default="/dev/input/js0"/>
    <arg name="serial_id" default="/dev/ttyACM0"/>

    <!-- Joystick Node 
    <node name="joy_drive" pkg="joy" type="joy_node" clear_params="true" output="log" respawn="true">
        <param name="dev" value="$(arg joy_id)" />
        <param name="deadzone" value="0.12" />
        <remap from="joy" to="joy" />
    </node>
    -->
    
    <!--Teleop Node -->
    <node pkg="easy_drive" type="drive_teleop" name="drive_teleop" clear_params="true" output="screen" respawn="true">
        <!-- INPUT TOPIC -->
        <remap from="joy" to="joy" />
        <!-- OUTPUT TOPICS -->
        <remap from="teleop/cmd_vel" to="teleop/cmd_vel" />
    </node>
</launch>
